{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <p><strong>Marketplace</strong></p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <li
            {% if 'about' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="#">New Item</a>
          </li>
          <li
            {% if 'destinations' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="#">Browse</a>
          </li>
          <li 
          {% if 'register' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="#">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li 
          {% if 'login' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="#">
              <i class="fas fa-sign-in-alt"></i>

              Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>