<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-phone"></i> (249)-908283146 (254)-714645267 (81)-8031270940
        </div>
        <div class="col-md-3">
          <i class="fas fa-envelope-open"></i> info@mdee-tours-travel.com
        </div>
        <div class="col-md-3">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>