{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Items {% endblock %}

{% block content %}


  <section id="listings" class="py-4">
      <div class="row">
        <div class="col-md-2 bg-dark text-white">
            <h2>Side Bar</h2>
            <div class="my-4">
                <form action="{% url 'items' %}" method="get">
                    <input
                    type="text"
                    name="query"
                    class="form-control"
                    value="{{ query }}"
                    placeholder="Search Items"
                    />

                    <button class="btn btn-outline-secondary btn-block mt-1" type="submit">
                        Search
                    </button>
                </form>
                <hr class="my-4 text-white">
                <p class="text-center lead font-weight-bold">Categories</p>
                <ul>
                    {% for category in categories %}
                    <li class="p-2{% if category.id == category_id %} bg-white{% endif %}">
                        <a href="{% url 'items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <hr class="my-4 text-white">
                <p class="text-center lead font-weight-bold">Clear Filters</p>
                <ul>
                    <li><a href="{% url 'items' %}" class="bg-warning p-2">Clear Filters</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 px-2">
            <div class="row">
                {% if items %} 
                {% for item in items %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                    <a href="{% url 'item' item.id %}">
                        <img
                        class="card-img-top"
                        src="{{ item.image.url }}"
                        alt="{{ item.name }}"
                        />
                        <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-secondary text-white"
                            >{{ item.price | intcomma }}</span
                            >
                        </h2>
                        </div>
                        <div class="card-body">
                        <div class="text-center">
                            <h4 class="text-primary">{{ item.name }}</h4>
                        </div>
                        </div>
                    </a>
                    </div>
                </div>
                {% endfor %} 
                {% endif %}
            </div>
        </div>
  </section>

{% endblock %}