{% extends 'base.html' %}

{% block title %} | Login {% endblock %}

{% block content %}

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h4>
                            <i class="fas fa-sign-in-alt"></i> Login
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>Username</label><br>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label>Password</label><br>
                                {{ form.password }}
                            </div>

                            {% if form.errors or form.non_field_errors %}
                            <div class="bg-danger mb-3">
                                {% for field in form %}
                                {{ field.errors }}
                                {% endfor %}

                                {{ form.non_field_errors }}
                            </div>
                            {% endif %}

                            <input type="submit" value="Sign Up" class="btn btn-secondary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}